.nav_toggle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--primary-color);
  font-size: 24px;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 0 0 18px 0;
  padding-bottom: 12px;
  color: #fff;
}

.nav_toggle::before {
  content: "☰";
}

.nav_toggle.open::before {
  content: "×";
}

.nav_toggle.open {
  left: 290px;
  border-left: 1px dashed var(--border-color);
}

.nav_toggle:hover {
  background-color: var(--secondary-color);
  transform: none;
}

.nav {
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: var(--font-family);
  height: 100%;
  min-height: 100%;
  min-width: 290px;
  box-sizing: border-box;
  left: -290px;
  padding: 30px 20px;
  position: fixed;
  top: 0;
  transition: left 0.3s ease;
  z-index: 998;
}

.nav.open {
  left: 0;
}

.nav_logo {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  margin-bottom: 20px;
}
.nav_logo .logo {
  height: 66.5px;
}

.nav_logo .logo_text {
  font-family: "veneer", sans-serif;
  font-size: 44px;
  border-radius: 14px;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  transition: 0.3s ease;
}

.nav_logo:hover .logo_text {
  background-color: var(--secondary-color);
}

.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  color: var(--text-color);
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  text-shadow: 0px 0px 5px #00000075;
}

.nav_list a:hover {
  background-color: var(--secondary-color);
}

nav i {
  margin-right: 20px;
  height: 20px;
  width: 20px;
}

.nav_list_user {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_list_user li {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.nav_list_user a {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav_list_user a:hover {
  background-color: var(--secondary-color);
}

.nav_list_user .pp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px dotted var(--border-color);
  background-color: #fff;
  margin-right: 10px;
}

.logout_icon {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  height: 66px;
  padding: 0;
}

.logout_icon:hover i {
  transform: scale(1.2);
}

.logout_icon:active i {
  transform: scale(1.1);
}

.logout_icon i {
  margin: 0;
  font-size: 24px;
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
