.profile_container {
  max-width: 50%;
  margin: 20px auto;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile_container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile_container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile_container p {
  font-size: 16px;
  margin-bottom: 8px;
}

.profile_container p:last-child {
  margin-bottom: 0;
}

.profile_container button {
  margin-top: 20px;
}

/* Responsive */
@media screen and (max-width: 480px) {
  .profile_container {
    max-width: 300px;
  }

  .profile_container img {
    width: 80px;
    height: 80px;
  }

  .profile_container h2 {
    font-size: 20px;
  }

  .profile_container p {
    font-size: 14px;
  }
}
