.quick_tweet {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quick_tweet#quick_tweet_button {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quick_tweet#quick_tweet_button i {
  transform: rotate(45deg);
}

.quick_tweet #quick_tweet_box {
  display: none;
  width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #cccccc67;
  animation: fadeIn 0.1s ease-in-out;
}

.quick_tweet #quick_tweet_box textarea {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
}
