body {
  background-color: #f5f8fa;
  font-family: Arial, sans-serif;
}

hr {
  border: 1px solid #ffcd82;
  border-radius: 50px;
  margin: 20px 0;
}

/* ------------------------------- */

nav {
  background-color: #ff9800;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 30px 20px;
}

.nav_logo {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}

.nav_logo * {
  margin: 0;
  padding: 0;
}

.nav_logo .logo {
  height: 60px;
}

.nav_logo .logo_text {
  font-family: "veneer", sans-serif;
  font-size: 34px;
  padding: 10px 20px;
  text-align: center;
}

.nav_logo:hover .logo_text {
  border-radius: 14px;
  background-color: #d46a00;
  margin: 0px;
}

.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_list a {
  display: block;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.nav_list a:hover {
  background-color: #d46a00;
}

nav hr {
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 20px;
}

/* ------------------------------- */

.user_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* ------------------------------- */

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

/* ------------------------------- */

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.profile h1 {
  margin: 0;
}

.profile-section form {
  display: flex;
  justify-content: right;
}

/* ------------------------------- */

.new_tweet textarea {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: vertical;
  font-size: 18px;
  margin: 20px 0;
}

/* ------------------------------- */

.tweet_suppr {
  position: absolute;
  top: 0;
  right: 30px;
  color: white;
  padding: 10px;
  border: 1px solid #4caf50;
  background-color: #5bd35f9b;
  border-radius: 10px;
  text-shadow: 0px 0px 5px #000;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tweet_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tweet_search input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.tweet_search select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* ------------------------------- */

.tweet_box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.tweet_box .tweet_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet_box .tweet_header .tweet_author {
  display: flex;
  align-items: center;
}

.tweet_box .tweet_header .tweet_author {
  font-size: 20px;
}

.tweet_box .tweet_content {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 18px;
  margin-bottom: 20px;
}

/* ------------------------------- */

button {
  background-color: #ff9800;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #d46a00;
  transform: scale(1.05);
}

/* ------------------------------- */

.log_form input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.log_form input[type="submit"] {
  margin-top: 10px;
}

/* ------------------------------- */

.error {
  color: #f00;
  margin-bottom: 10px;
}

/* ------------------------------- */

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ------------------------------- */
